.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.jtyper-container {
	height: 100%;
}

.jtyper-input {
	width: 65%;
	margin: 20px;
}

.jtyper-text-box {
	max-width: 50ch;
	white-space: pre-wrap;
	text-align: left;
	font-family: monospace;
	font-size: 2em;
	font-weight: 600;
}

.jtyper-text-box:focus {
	outline: none;
}

.jtyper-cursor {
	background-color: #000000;
	color: #ffffff;
}

.jtyper-typed {
	color: #aaaaaa;
}

.jtyper-error {
	color: #bb0000;
}

h1 {
	font-size: 8em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
